
<div class="form-container">
    <form #noteForm="ngForm" (ngSubmit)="onSubmit(noteForm)">         
        <div class="field">
            <label class="label" >Title</label>
            <div class="control">
                <input type="text" name="title" [ngModel]="note.title" required class="input">
            </div>
        </div>
        <br>
<div class="field">
    <label class="label">Body</label>
    <div class="control">
        <ckeditor #editor [(ngModel)]="note.body" 
        id="description"
        name="body"> </ckeditor>
    </div>
</div>
<div class="field is-grouped is-pulled-right">
    <div class="control">
        <button class="button is-info" type="button" (click)="cancel()">Cancel</button>
    </div>
    <div class="control">
        <button class="button is-info" type="submit" [disabled]=!noteForm.valid>Save</button>
    </div>
</div>
</form>
</div>
