
<div class="play-container">
    <div class="search-bar-container">
        <div class="field">
            <p class="control has-icons-right">
              <input #filterInput class="input" type="text" (keyup)="filter($any($event.target).value)" placeholder="Search">
              <span class="icon is-small is-right">
                <i class="fas fa-search"></i>
              </span>
            </p>
          </div>     
    </div>

     <div class="notes-list" id="note" >
        <app-note-cards class="notes-list " 
        *ngFor="let note of filteredNotes; index as i"
          [routerLink]="[generateNoteURL(note)]"
          (delete)="deleteNote(note)"
          [title]="note.title" 
          [body]="note.body"></app-note-cards>
      </div>
     
     <div id="outer">
      <button class="button floating-add-button is-primary" routerLink="new">+ Add</button> 
    </div>
    </div>



