
span {
    font-weight: bold;
    background: lightgray;
    padding: .3em .8em;
    cursor: pointer;
}

.play-container {
    padding: 1.2em;
    width: 100%;
    height: 100%;
    margin-bottom: 1em;
    top: 100%;
    
    .active-cyan input[type=search] {
      border-bottom: 1px solid #4dd0e1;
      box-shadow: 0 1px 0 0 #4dd0e1;
      width: 40%;
      position: fixed;
      }
    a:link, a:visited {
        background-color: #a79ddf;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover, a:active {
        background-color: rgb(78, 50, 129);
      }

      .notes-list{
        display: flex;
        margin-top: 25px ;
         margin-bottom: 25px;
         margin-left: 25px;
         flex-direction: column;
         float: bottom;
         
        
       }
    
    #outer {
      border: 0px solid rgb(240, 238, 243);
      width:100%
    }
    .floating-add-button{
      position: fixed;
      right:30px;
      top: 120px;
      width:150px;
      background-color: rgb(78, 50, 129);
    
    }
   
}
app-note-card{
  display: block;
  margin-bottom: 25px;
}

#note{
  overflow-y: scroll;
  max-height: 450px;
}
#bt{
  color: aliceblue;
  position: fixed;
  right:45%;
  bottom: 20px;
  height: 40px;
  width:150px;
  background-color: rgb(78, 50, 129);
  font-size: large;
}
