
<div class="label">
<label><b>Contact Details</b></label>
</div>
<div class="list">
<div class="card">
    <div class="container">
      <h1><b>Iby Tresa Augustine</b></h1> 
        <h2>Details</h2>
        <h4>Employee Id:1819832</h4>
        <h4>Email Id: ibytresa3@gmail.com</h4>
      
    </div>
  </div>

  <div class="card"> 
    <div class="container">
      <h1><b>Pooja Naragund</b></h1> 
      <h2>Details</h2>
      <h4>Employee Id:1778015</h4>
        <h4>Email Id: prnaragund@gmail.com</h4>
    </div>
  </div>
  
  <div class="card">
    <div class="container">
      <h1><b>Carol DSilva</b></h1> 
      <h2>Details</h2>
        <h4>Employee Id:1787378</h4>
        <h4>Email Id: caroldsilva08@gmail.com</h4>
    </div>
  </div>

  <div class="card">
    <div class="container">
      <h1><b>Vinaya Marakatti</b></h1> 
      <h2>Details</h2>
        <h4>Employee Id:1770284</h4>
        <h4>Email Id: vinayamarakatti@tcs.com</h4>
    </div>
  </div>
</div>

<div> <button class="bt" (click)="back()">Back</button>
</div>
